<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="8a5ca0fe-c9c2-4b38-badd-7c34243a6283"
  data-page-id="{{ .RelPermalink }}"
  data-page-url="{{ .RelPermalink }}"
  data-page-title="{{ .Title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

<script>
    window.CUSDIS_LOCALE = {
      "post_comment": "发送",
      "email": "邮箱 (可选)",
      "nickname": "昵称",
      "reply_placeholder": "内容",
      "reply_btn": "回复",
      "sending": "发送中...",
      "loading": " (  ´͈ ᵕ `͈ ) 努力加载",
      "content_is_required": "评论内容不能为空",
      "nickname_is_required": "昵称不能为空",
      "comment_has_been_sent": "❛˓◞˂̵✧ 已经收到你的评论了，让我先检查一下你是不是真正的人类！"
    }
  </script>
